@tailwind base;
@tailwind components;
@tailwind utilities;

.loading {
     animation: loading_animation 1s infinite linear;
}

@keyframes loading_animation {
  0% {
    rotate: 0deg;
  }

  100% {
    rotate: 180deg;
  }
}
